<?xml version="1.0"?>
<launch>
  <arg name="width" default="1024"/>
  <arg name="height" default="1024"/>
  <arg name="frame_rate" default="30.0"/>
  <node name="ros1_pub_test" pkg="ros2_cpp_py" type="ros1_pub_test"
      output="screen">
    <param name="width" value="$(arg width)" />
    <param name="height" value="$(arg height)" />
    <param name="frame_rate" value="$(arg frame_rate)" />
  </node>
  <node name="ros1_sub_test_a" pkg="ros2_cpp_py" type="ros1_sub_test"
      output="screen">
  </node>
  <node name="ros1_sub_test_b" pkg="ros2_cpp_py" type="ros1_sub_test"
      output="screen">
  </node>

</launch>
